*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}
.title{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:0px 0px 20px 0px;
}
.sessionbutton input[type="submit"]{
    padding: 15px 20px;
    background-color: #ff1616;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.basicdetails h2{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.basicdetailsarea{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px #0000001a;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
}
.least_measurments,.contact_details,.personal_details{
    width: 34%;
}
.least_measurments .details,.contact_details .details,.personal_details .details{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.basicdetailsarea .titles{
    border-radius: 10px 10px 0 0 ;
    width: 100%;
    background-color: #f1f1f1;
}
.basicdetailsarea h3{
    padding: 20px;
    margin-bottom: 20px;
}
.content{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.content .grapharea{
    width: 60%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #0000001a;
}
.grapsearch{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
.grapsearch form{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.secondary_area{
    width: 38%;
    height: auto;
}
.secondary_area .ongoingprescriptions{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #0000001a;
}
.ongoingprescriptions .text{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 10px 0px #0000001a;
}
.prescriptioncard{
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
}
.moreactions{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.addmedicalreport{
    width: 48%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #0000001a;
    padding-bottom: 20px;
}
.addmedicalreport p{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px 10px 0px 0px;
}
.addmedicalreportbuttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.addmedicalreportbuttons img{
    width: 50px;
    height: 50px;
    margin: 15px;
}
.addmedicalreportbuttons img:hover{
    cursor: pointer;
}
.addmedicalreportbuttons a{
    text-decoration: none;
    color: #000;
}
#medical_report{
    display: none;
}
.addmedicalreportbuttons input[type="submit"]{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.secondaryactions{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vieweditbasics, .addmesurment,.addprescription{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #0000001a;
}  
.vieweditbasics a, .addmesurment a,.addprescription a{
    text-decoration: none;
    color: #000;
}